.app-container {
  background-color: black;
  height: 800px;
}

.logo-container {
  width: 300px;
  height: 300px;
  margin: 0 auto;
}
.logo-container > img {
  width: 100%;
}
/*
.main-content {
  flex-basis: 60%;
  border: 1px solid greenyellow;
}
.sidenav-container {
  flex-basis: 30%;
  border: 1px solid hotpink;
} */

/* fsjhsfghsjfgksmfgskfghosfoghskdg */

input[type='name'],
input[type='email'],
input[type='phone'],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 13px 0;
  /* display: inline-block; */
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button[type='submit'] {
  /* width: 50%; */
  background-color: #4caf50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  align-self: center;
}

input[type='submit']:hover {
  background-color: #45a049;
}

.everly {
  display: flex;
  flex-direction: column;
  /* background-color: #f2f2f2; */
  padding: 20px;
  width: 50%;
}
.topic {
  color: #fff;
  margin: 0;
}
.color-text {
  color: #fff;
  text-align: left;
}
.error-text {
  color: red;
}
